.brandname{
    font-family: 'Josefin Sans', sans-serif;
    font-size: larger;
}

.brandfont{
    font-family: 'Josefin Sans', sans-serif;
}

.embed-responsive-1by1::before {
    padding-top: 25%;
}

.backgroundimg{
    background-image: url("https://ardra-shop.github.io/ardrashop.com/assets/images/Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

